@{
    ViewBag.Title = "Employees Page";
}
 

<div class="container" ng-controller="HomeCtrl">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h2>Employees</h2>
        </div>

        <div class="panel-body">

            <div class="row ml10">
                <md-input-container>
                    <label>Id</label>
                    <input ng-model="employee.id">
                </md-input-container>

            </div>

            <div class="row justify-content-end">
                <md-button class="md-primary md-raised" aria-label="Favorite" ng-click="getEmployees()">
                    Get employees 
                </md-button>

            </div>

        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Role name</th>
                        <th>Contract type</th>
                        <th>Hourly salary</th>
                        <th>Monthly salary</th>
                        <th>Anual salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="lstEmployees.length == 0">
                        <td colspan="7"> No records. </td>
                    </tr>
                    <tr ng-repeat="item in lstEmployees">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.roleName}}</td>
                        <td>{{item.contractTypeName  }}</td>
                        <td>{{item.hourlySalary | currency}}</td>
                        <td>{{item.monthlySalary | currency}}</td>
                        <td>{{item.annualSalary | currency}}</td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>
     
     
    <style></style>

</div>

