@{
    ViewBag.Title = "Employees Page";
}
 

<div class="container" ng-controller="HomeCtrl">
    <div class="panel panel-default">

        <div class="panel-heading">
            @*<h2>Employees</h2>*@
        </div>

        <div class="panel-body">
            <md-card>

                <md-card-content layout="row" layout-align="start center">
                    <md-input-container>
                        <label>Id</label>
                        <input ng-model="employee.id">
                    </md-input-container>

                </md-card-content>

               

                <md-card-actions layout="row" layout-align="end center">


                    <md-button class="md-primary md-raised" aria-label="Favorite" ng-click="getEmployees()">
                        Search
                    </md-button>

                    <md-button class="md-secondary md-raised" aria-label="Favorite" ng-click="clear()">
                        Clear
                    </md-button>


                </md-card-actions>
            </md-card>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Role name</th>
                        <th>Contract type</th>
                        <th>Hourly salary</th>
                        <th>Monthly salary</th>
                        <th>Anual salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="lstEmployees.length == 0">
                        <td colspan="7"> No records. </td>
                    </tr>
                    <tr ng-repeat="item in lstEmployees">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.roleName}}</td>
                        <td>{{item.contractTypeName  }}</td>
                        <td>{{item.hourlySalary | currency}}</td>
                        <td>{{item.monthlySalary | currency}}</td>
                        <td>{{item.annualSalary | currency}}</td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>
     
     
    <style></style>

</div>

